.loader {
  --w:10ch;
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  color: #ff9f43;
  text-shadow: 
        calc( 0*var(--w)) 0 #ff9f43,calc(-1*var(--w)) 0 #ff9f43,calc(-2*var(--w)) 0 #ff9f43,calc(-3*var(--w)) 0 #ff9f43,calc(-4*var(--w)) 0 #ff9f43, 
        calc(-5*var(--w)) 0 #ff9f43,calc(-6*var(--w)) 0 #ff9f43,calc(-7*var(--w)) 0 #ff9f43,calc(-8*var(--w)) 0 #ff9f43,calc(-9*var(--w)) 0 #ff9f43;
  animation: l20 2s infinite linear;
}
.loader:before {
  content:"Loading...";
}

@keyframes l20 {
  9.09% {text-shadow: calc( 0*var(--w)) -10px #ff9f43,calc(-1*var(--w)) 0 #ff9f43,calc(-2*var(--w)) 0 #ff9f43,calc(-3*var(--w)) 0 #ff9f43,calc(-4*var(--w)) 0 #ff9f43,calc(-5*var(--w)) 0 #ff9f43,calc(-6*var(--w)) 0 #ff9f43,calc(-7*var(--w)) 0 #ff9f43,calc(-8*var(--w)) 0 #ff9f43,calc(-9*var(--w)) 0 #ff9f43}
  18.18% {text-shadow: calc( 0*var(--w)) 0 #ff9f43,calc(-1*var(--w)) -10px #ff9f43,calc(-2*var(--w)) 0 #ff9f43,calc(-3*var(--w)) 0 #ff9f43,calc(-4*var(--w)) 0 #ff9f43,calc(-5*var(--w)) 0 #ff9f43,calc(-6*var(--w)) 0 #ff9f43,calc(-7*var(--w)) 0 #ff9f43,calc(-8*var(--w)) 0 #ff9f43,calc(-9*var(--w)) 0 #ff9f43}
  27.27% {text-shadow: calc( 0*var(--w)) 0 #ff9f43,calc(-1*var(--w)) 0 #ff9f43,calc(-2*var(--w)) -10px #ff9f43,calc(-3*var(--w)) 0 #ff9f43,calc(-4*var(--w)) 0 #ff9f43,calc(-5*var(--w)) 0 #ff9f43,calc(-6*var(--w)) 0 #ff9f43,calc(-7*var(--w)) 0 #ff9f43,calc(-8*var(--w)) 0 #ff9f43,calc(-9*var(--w)) 0 #ff9f43}
  36.36% {text-shadow: calc( 0*var(--w)) 0 #ff9f43,calc(-1*var(--w)) 0 #ff9f43,calc(-2*var(--w)) 0 #ff9f43,calc(-3*var(--w)) -10px #ff9f43,calc(-4*var(--w)) 0 #ff9f43,calc(-5*var(--w)) 0 #ff9f43,calc(-6*var(--w)) 0 #ff9f43,calc(-7*var(--w)) 0 #ff9f43,calc(-8*var(--w)) 0 #ff9f43,calc(-9*var(--w)) 0 #ff9f43}
  45.45% {text-shadow: calc( 0*var(--w)) 0 #ff9f43,calc(-1*var(--w)) 0 #ff9f43,calc(-2*var(--w)) 0 #ff9f43,calc(-3*var(--w)) 0 #ff9f43,calc(-4*var(--w)) -10px #ff9f43,calc(-5*var(--w)) 0 #ff9f43,calc(-6*var(--w)) 0 #ff9f43,calc(-7*var(--w)) 0 #ff9f43,calc(-8*var(--w)) 0 #ff9f43,calc(-9*var(--w)) 0 #ff9f43}
  54.54% {text-shadow: calc( 0*var(--w)) 0 #ff9f43,calc(-1*var(--w)) 0 #ff9f43,calc(-2*var(--w)) 0 #ff9f43,calc(-3*var(--w)) 0 #ff9f43,calc(-4*var(--w)) 0 #ff9f43,calc(-5*var(--w)) -10px #ff9f43,calc(-6*var(--w)) 0 #ff9f43,calc(-7*var(--w)) 0 #ff9f43,calc(-8*var(--w)) 0 #ff9f43,calc(-9*var(--w)) 0 #ff9f43}
  63.63% {text-shadow: calc( 0*var(--w)) 0 #ff9f43,calc(-1*var(--w)) 0 #ff9f43,calc(-2*var(--w)) 0 #ff9f43,calc(-3*var(--w)) 0 #ff9f43,calc(-4*var(--w)) 0 #ff9f43,calc(-5*var(--w)) 0 #ff9f43,calc(-6*var(--w)) -10px #ff9f43,calc(-7*var(--w)) 0 #ff9f43,calc(-8*var(--w)) 0 #ff9f43,calc(-9*var(--w)) 0 #ff9f43}
  72.72% {text-shadow: calc( 0*var(--w)) 0 #ff9f43,calc(-1*var(--w)) 0 #ff9f43,calc(-2*var(--w)) 0 #ff9f43,calc(-3*var(--w)) 0 #ff9f43,calc(-4*var(--w)) 0 #ff9f43,calc(-5*var(--w)) 0 #ff9f43,calc(-6*var(--w)) 0 #ff9f43,calc(-7*var(--w)) -10px #ff9f43,calc(-8*var(--w)) 0 #ff9f43,calc(-9*var(--w)) 0 #ff9f43}
  81.81% {text-shadow: calc( 0*var(--w)) 0 #ff9f43,calc(-1*var(--w)) 0 #ff9f43,calc(-2*var(--w)) 0 #ff9f43,calc(-3*var(--w)) 0 #ff9f43,calc(-4*var(--w)) 0 #ff9f43,calc(-5*var(--w)) 0 #ff9f43,calc(-6*var(--w)) 0 #ff9f43,calc(-7*var(--w)) 0 #ff9f43,calc(-8*var(--w)) -10px #ff9f43,calc(-9*var(--w)) 0 #ff9f43}
  90.90% {text-shadow: calc( 0*var(--w)) 0 #ff9f43,calc(-1*var(--w)) 0 #ff9f43,calc(-2*var(--w)) 0 #ff9f43,calc(-3*var(--w)) 0 #ff9f43,calc(-4*var(--w)) 0 #ff9f43,calc(-5*var(--w)) 0 #ff9f43,calc(-6*var(--w)) 0 #ff9f43,calc(-7*var(--w)) 0 #ff9f43,calc(-8*var(--w)) 0 #ff9f43,calc(-9*var(--w)) -10px #ff9f43}
}
