@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700";
@import "https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css";
@import "https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css";

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: rgb(147, 147, 147);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}